<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.complaint.mapper.FeedbackresultsMapper">
    
    <resultMap type="Feedbackresults" id="FeedbackresultsResult">
        <result property="id"    column="id"    />
        <result property="handleResultId"    column="handle_result_id"    />
        <result property="rating"    column="rating"    />
    </resultMap>

    <sql id="selectFeedbackresultsVo">
        select id, handle_result_id, rating from feedbackresults
    </sql>

    <select id="selectFeedbackresultsList" parameterType="Feedbackresults" resultMap="FeedbackresultsResult">
        <include refid="selectFeedbackresultsVo"/>
        <where>  
            <if test="handleResultId != null "> and handle_result_id = #{handleResultId}</if>
            <if test="rating != null "> and rating = #{rating}</if>
        </where>
    </select>
    
    <select id="selectFeedbackresultsById" parameterType="Long" resultMap="FeedbackresultsResult">
        <include refid="selectFeedbackresultsVo"/>
        where id = #{id}
    </select>

    <insert id="insertFeedbackresults" parameterType="Feedbackresults">
        insert into feedbackresults
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="handleResultId != null">handle_result_id,</if>
            <if test="rating != null">rating,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="handleResultId != null">#{handleResultId},</if>
            <if test="rating != null">#{rating},</if>
         </trim>
    </insert>

    <update id="updateFeedbackresults" parameterType="Feedbackresults">
        update feedbackresults
        <trim prefix="SET" suffixOverrides=",">
            <if test="handleResultId != null">handle_result_id = #{handleResultId},</if>
            <if test="rating != null">rating = #{rating},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFeedbackresultsById" parameterType="Long">
        delete from feedbackresults where id = #{id}
    </delete>

    <delete id="deleteFeedbackresultsByIds" parameterType="String">
        delete from feedbackresults where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>