<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.complaint.mapper.HandlingresultsMapper">
    
    <resultMap type="Handlingresults" id="HandlingresultsResult">
        <result property="id"    column="id"    />
        <result property="complaintId"    column="complaint_id"    />
        <result property="result"    column="result"    />
        <result property="handleTime"    column="handle_time"    />
        <result property="handlerId"    column="handler_id"    />
    </resultMap>

    <sql id="selectHandlingresultsVo">
        select id, complaint_id, result, handle_time, handler_id from handlingresults
    </sql>

    <select id="selectHandlingresultsList" parameterType="Handlingresults" resultMap="HandlingresultsResult">
        <include refid="selectHandlingresultsVo"/>
        <where>  
            <if test="complaintId != null "> and complaint_id = #{complaintId}</if>
            <if test="handlerId != null "> and handler_id = #{handlerId}</if>
        </where>
    </select>
    
    <select id="selectHandlingresultsById" parameterType="Long" resultMap="HandlingresultsResult">
        <include refid="selectHandlingresultsVo"/>
        where id = #{id}
    </select>

    <insert id="insertHandlingresults" parameterType="Handlingresults">
        insert into handlingresults
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="complaintId != null">complaint_id,</if>
            <if test="result != null and result != ''">result,</if>
            <if test="handleTime != null">handle_time,</if>
            <if test="handlerId != null">handler_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="complaintId != null">#{complaintId},</if>
            <if test="result != null and result != ''">#{result},</if>
            <if test="handleTime != null">#{handleTime},</if>
            <if test="handlerId != null">#{handlerId},</if>
         </trim>
    </insert>

    <update id="updateHandlingresults" parameterType="Handlingresults">
        update handlingresults
        <trim prefix="SET" suffixOverrides=",">
            <if test="complaintId != null">complaint_id = #{complaintId},</if>
            <if test="result != null and result != ''">result = #{result},</if>
            <if test="handleTime != null">handle_time = #{handleTime},</if>
            <if test="handlerId != null">handler_id = #{handlerId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHandlingresultsById" parameterType="Long">
        delete from handlingresults where id = #{id}
    </delete>

    <delete id="deleteHandlingresultsByIds" parameterType="String">
        delete from handlingresults where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>