<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hotel.mapper.NonstarhotelsMapper">
    
    <resultMap type="Nonstarhotels" id="NonstarhotelsResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="minPrice"    column="min_price"    />
        <result property="totalQuantity"    column="total_quantity"    />
        <result property="address"    column="address"    />
        <result property="imageUrl"    column="image_url"    />
    </resultMap>

    <sql id="selectNonstarhotelsVo">
        select id, name, min_price, total_quantity, address, image_url from nonstarhotels
    </sql>

    <select id="selectNonstarhotelsList" parameterType="Nonstarhotels" resultMap="NonstarhotelsResult">
        <include refid="selectNonstarhotelsVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="minPrice != null "> and min_price &gt;= #{minPrice}</if>
            <if test="address != null  and address != ''"> and address like concat('%', #{address}, '%')</if>
        </where>
    </select>
    
    <select id="selectNonstarhotelsById" parameterType="Long" resultMap="NonstarhotelsResult">
        <include refid="selectNonstarhotelsVo"/>
        where id = #{id}
    </select>

</mapper>