<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hotel.mapper.StarhotelReviewsMapper">

    <resultMap type="StarhotelReviews" id="StarhotelReviewsResult">
        <result property="id"    column="id"    />
        <result property="hotel_id"    column="hotel_id"    />
        <result property="content"    column="content"    />
        <result property="guest_id"    column="guest_id"    />
        <result property="rating"    column="rating"    />
        <result property="room_type_id"    column="room_type_id"    />
        <result property="review_date" column="review_date"/>
    </resultMap>

    <sql id="selectStarhotelReviewsVo">
        select id, hotel_id, content, guest_id, rating, room_type_id, review_date from starhotelreviews
    </sql>

    <select id="selectStarhotelReviewsList" parameterType="Long" resultMap="StarhotelReviewsResult">
        <include refid="selectStarhotelReviewsVo"/>
        where hotel_id = #{id}
    </select>


</mapper>