<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hotel.mapper.StarhotelRoomBookingsMapper">

    <resultMap type="StarBookings" id="StarBookingsResult">
        <result property="id"    column="id"    />
        <result property="hotel_id"    column="hotel_id"    />
        <result property="room_type_id"    column="room_type_id"    />
        <result property="guest_id"    column="guest_id"    />
        <result property="contact_number"    column="contact_number"    />
        <result property="recorded"    column="recorded"    />
        <result property="check_in_time" column="check_in_time"/>
        <result property="check_out_time" column="check_out_time"/>
        <result property="guest_name" column="guest_name"/>
    </resultMap>

    <sql id="selectStarhotelRoomsVo">
        select id, hotel_id, room_type_id, guest_id, contact_number, recorded,
               check_in_time, check_out_time, guest_name  from starbookings
    </sql>

    <insert id="insertStarhotelBookingMsg" parameterType="StarBookings" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO StarBookings (
            hotel_id,
            room_type_id,
            guest_id,
            contact_number,
            check_in_time,
            check_out_time,
            guest_name
        ) VALUES (
                     #{hotel_id},
                     #{room_type_id},
                     #{guest_id},
                     #{contact_number},
                     #{check_in_time},
                     #{check_out_time},
                     #{guest_name}
                 )
    </insert>
</mapper>