<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hotel.mapper.StarhotelRoomsMapper">

    <resultMap type="StarhotelRooms" id="StarhotelRoomsResult">
        <result property="id"    column="id"    />
        <result property="hotel_id"    column="hotel_id"    />
        <result property="name"    column="name"    />
        <result property="price"    column="price"    />
        <result property="quantity"    column="quantity"    />
        <result property="sales"    column="sales"    />
        <result property="imageUrl" column="imageUrl"/>
    </resultMap>

    <sql id="selectStarhotelRoomsVo">
        select id, hotel_id, name, price, quantity, sales, imageUrl from starroomtypes
    </sql>

    <select id="selectStarhotelRoomsList" parameterType="Long" resultMap="StarhotelRoomsResult">
        <include refid="selectStarhotelRoomsVo"/>
        where hotel_id = #{id}
    </select>

    <select id="selectStarhotelRoomsById" parameterType="Long" resultMap="StarhotelRoomsResult">
        <include refid="selectStarhotelRoomsVo"/>
        where id = #{id}
    </select>

</mapper>