<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.entertainment.mapper.PerformancegroupsMapper">
    
    <resultMap type="Performancegroups" id="PerformancegroupsResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="startTime"    column="start_time"    />
        <result property="duration"    column="duration"    />
        <result property="venue"    column="venue"    />
        <result property="capacity"    column="capacity"    />
        <result property="price"    column="price"    />
    </resultMap>

    <sql id="selectPerformancegroupsVo">
        select id, name, start_time, duration, venue, capacity, price from performancegroups
    </sql>

    <select id="selectPerformancegroupsList" parameterType="Performancegroups" resultMap="PerformancegroupsResult">
        <include refid="selectPerformancegroupsVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="venue != null  and venue != ''"> and venue = #{venue}</if>
        </where>
    </select>
    
    <select id="selectPerformancegroupsById" parameterType="Long" resultMap="PerformancegroupsResult">
        <include refid="selectPerformancegroupsVo"/>
        where id = #{id}
    </select>

    <insert id="insertPerformancegroups" parameterType="Performancegroups">
        insert into performancegroups
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="startTime != null">start_time,</if>
            <if test="duration != null">duration,</if>
            <if test="venue != null and venue != ''">venue,</if>
            <if test="capacity != null">capacity,</if>
            <if test="price != null">price,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="duration != null">#{duration},</if>
            <if test="venue != null and venue != ''">#{venue},</if>
            <if test="capacity != null">#{capacity},</if>
            <if test="price != null">#{price},</if>
         </trim>
    </insert>

    <update id="updatePerformancegroups" parameterType="Performancegroups">
        update performancegroups
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="duration != null">duration = #{duration},</if>
            <if test="venue != null and venue != ''">venue = #{venue},</if>
            <if test="capacity != null">capacity = #{capacity},</if>
            <if test="price != null">price = #{price},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePerformancegroupsById" parameterType="Long">
        delete from performancegroups where id = #{id}
    </delete>

    <delete id="deletePerformancegroupsByIds" parameterType="String">
        delete from performancegroups where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>