<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.scenic.mapper.ScenicspotsMapper">
    
    <resultMap type="Scenicspots" id="ScenicspotsResult">
        <result property="id"    column="id"    />
        <result property="scenicAreaId"    column="scenic_area_id"    />
        <result property="address"    column="address"    />
        <result property="name"    column="name"    />
    </resultMap>

    <sql id="selectScenicspotsVo">
        select id, scenic_area_id, address, name from scenicspots
    </sql>

    <select id="selectScenicspotsList" parameterType="Scenicspots" resultMap="ScenicspotsResult">
        <include refid="selectScenicspotsVo"/>
        <where>  
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>
    
    <select id="selectScenicspotsById" parameterType="Long" resultMap="ScenicspotsResult">
        <include refid="selectScenicspotsVo"/>
        where id = #{id}
    </select>

    <insert id="insertScenicspots" parameterType="Scenicspots">
        insert into scenicspots
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="scenicAreaId != null">scenic_area_id,</if>
            <if test="address != null and address != ''">address,</if>
            <if test="name != null">name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="scenicAreaId != null">#{scenicAreaId},</if>
            <if test="address != null and address != ''">#{address},</if>
            <if test="name != null">#{name},</if>
         </trim>
    </insert>

    <update id="updateScenicspots" parameterType="Scenicspots">
        update scenicspots
        <trim prefix="SET" suffixOverrides=",">
            <if test="scenicAreaId != null">scenic_area_id = #{scenicAreaId},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="name != null">name = #{name},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteScenicspotsById" parameterType="Long">
        delete from scenicspots where id = #{id}
    </delete>

    <delete id="deleteScenicspotsByIds" parameterType="String">
        delete from scenicspots where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>